<form class="form-signin" id="signup" name="singup" method="post" action="#">
    <h2 class="form-signin-heading">Wypełnij formularz</h2>
    <input name="password" id="password" type="password" class="form-control" placeholder="Password">
    <input name="confirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
    <button name="Submit" id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
<div id="message"></div>
<script src="template/js/singup.js"></script>